graft psat_server_web
prune psat_server_web/atlas/media/images/data
prune psat_server_web/atlas/static
prune psat_server_web/ps1/static
prune psat_server_web/ps1/media/images/data
global-exclude .gitignore __pycache__ *.py[cod]
