{% extends "base_bootstrap_login.html" %}
{% block title %}Register new user{% endblock %}
{% block content %}


<div class="container-fluid h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="form-group">
        <h1>Activation successful</h1>
        <p>Your account has been successfully activated. You can now <a href="{% url 'login' %}">log in</a>.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}