{% extends "base_bootstrap_login.html" %}
{% block title %}Register new user{% endblock %}
{% block content %}


<div class="container-fluid h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-lg-4 col-md-6 col-sm-12">

        <div class="form-group">
            <h1>Registration Complete</h1>
            <p>Thank you for registering, you will now be sent an activation email to verify your provided email address. Please click the link you find in your activation email to activate your account.</p>
        </div>
    </div>
  </div>
</div>

{% endblock %}