{% extends "base_bootstrap.html" %}
{% block title %}Change password{% endblock %}
{% block content %}


<div class="container-fluid h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-lg-4 col-md-6 col-sm-12">

      {% if form.errors %}
        <p class="error">Sorry, that's not a valid password</p>
      {% endif %}
      <h1>Change your password!</h1>
      {% if password_unuseable_fl %}
        <p class="error">You need to reset your password before you can use the site.</p>
      {% endif %}
      <div class="form-group">
        <form action="{% url "change_password" %}" method="post" id="changepasswordform">    
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Submit</button>

        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
