{% extends "base_bootstrap.html" %}
{% block title %}Privacy policy{% endblock %}
{% block content %}

<div class="container-fluid h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-lg-10 col-md-10 col-sm-10">
        <h1>Privacy Policy</h1>

        <p>
        As ATLAS users your first name and last name will be stored on our server. 
        Your email address will be stored on a Google Drive spreadsheet alongside the 
        information provided with your Data Access Request Form. We store this data 
        because it is required to provide you access to this service and we will only 
        store it as long as needed to provide this service. The ATLAS user list will be 
        reviewed twice a year: In November and in May. If your Data Access Request is 
        out of date, or if you have not logged into the server since the last review, 
        we will email you with a two-week deletion warning. If we receive no response, 
        your profile will be deleted and your access revoked. If you would like us to 
        delete your data sooner, send an email to hfstevance@gmail.com and we will 
        remove your account and associated data.
        </p>

        <p>
        <b>Who can see my data?</b> All users of the server can see your 
        name.surname when you comment. Your email is stored in a private Google 
        Drive spreadsheet that only a couple of project administrators can 
        access.
        </p>

        <p><b>We will never share your data with third parties.</b></p>
    </div>
  </div>
</div>

{% endblock %}